@import "/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

$serif-font: "Kameron", Times, serif;
$sans-serif-font: "Roboto", open-sans, sans-serif;
$accent-color-900: #232323;
$accent-color-700: #323232;
$accent-color-500: #323232;

$accent-border-slim: 1px solid $accent-color-900;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $sans-serif-font;
	color: $accent-color-900;
	height: 100vh;
	overflow-y: auto;
}
img {
	max-width: 100%;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
input {
	background-color: transparent;
	border: none;
	border-bottom: $accent-border-slim;
}
input:focus {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $serif-font;
}

.material-icons-outlined,
.material-icons {
	cursor: pointer;
	color: $accent-color-900;
	&.size-20 {
		font-size: 20px;
		font-variation-settings: "OPSZ" 20;
	}
	&.size-24 {
		font-size: 24px;
		font-variation-settings: "OPSZ" 24;
	}
	&.size-40 {
		font-size: 40px;
		font-variation-settings: "OPSZ" 40;
	}
	&.size-48 {
		font-size: 48px;
		font-variation-settings: "OPSZ" 48;
	}
	&.md-dark {
		color: rgba(0, 0, 0, 0.54);
	}
	&.md-dark.md-inactive {
		color: rgba(0, 0, 0, 0.26);
	}

	&.md-light {
		color: rgba(255, 255, 255, 1);
	}
	&.md-light.md-inactive {
		color: rgba(255, 255, 255, 0.3);
	}
}

// =============
// 	Modal
// =============

.modal {
	position: fixed;
	display: none;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.35);
	animation-name: modalAnimation;
	animation-duration: 0.3s;
}

.modal-content {
	background-color: #fefefe;
	margin: 20% auto;
	padding: 50px;
	width: 50%;
	box-shadow: 14px 19px 17px -1px rgba(0, 0, 0, 0.1);
	animation-name: modalContentAnimation;
	animation-duration: 0.3s;
	form {
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		label {
			font-size: 0.875rem;
			margin-bottom: 0.25em;
		}
		& > :nth-child(2) {
			margin-bottom: 1.5em;
			padding: 0.25em;
		}
	}
}

.modal-content-buttons {
	justify-content: flex-end;
	display: flex;
	& > :nth-child(1) {
		margin-right: 1em;
	}
}

.modal-going-out {
	opacity: 0;
	transition: opacity 300ms ease;
}

// =================
// 	Modal elements
// ================

.button {
	border: $accent-border-slim;
	text-transform: uppercase;
	color: $accent-color-900;
	background-color: #fff;
	padding: 6px 12px;
	transition: background-color 300ms ease-in, color 300ms ease-in;
	&:hover {
		background-color: $accent-color-900;
		color: #fff;
	}
}

.save-button {
	background-color: #232323;
	color: #fff;
	transition: background-color 300ms ease-in, color 300ms ease-in;
	&:hover {
		background-color: #fff;
		color: $accent-color-900;
	}
}

.textarea-field {
	padding: 0 0 3px 2px;

	border: none;
	resize: none;
	border-bottom: $accent-border-slim;
	margin-bottom: 3em;
	&:focus {
		outline: none;
	}
}

.input-date {
	border: $accent-border-slim;
}

.input-select {
	background-color: transparent;
	border: $accent-border-slim;
	padding: 0.125em 1em;
}

.modal-content-inputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	flex: 1;
}

// =============
// 	Navigation
// =============

nav {
	border-bottom: 2px solid $accent-color-900;
	width: 100%;
	z-index: 1;
}

.nav-container {
	max-width: 90vw;
	margin: 0 auto;
	padding: 12px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav-list-buttons {
	display: flex;
	align-items: center;
}

.nav-list-button {
	&:nth-child(3) {
		padding-left: 22px;
	}
	&:nth-child(2) {
		padding-left: 12px;
	}
	&:hover {
		cursor: poiner;
	}
}

.hamburger {
	color: $accent-color-900;
}

// ===============
// 	Main and side
// ===============

.container {
	display: flex;
}

// =============
// 	Side
// =============

.side-container {
	font-size: 1.125rem;
	padding: 2.5em 2.5em;
	border-right: 2px solid $accent-color-900;

	display: flex;
	flex-direction: column;
	overflow-y: auto;

	height: 100vh;

	width: 300px;
	transition: width 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease;
}

.side-container.closed {
	width: 0;
	padding-left: 0;
	padding-right: 0;
}

.side-uncategorized {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 24px;
	span {
		margin-right: 20px;
	}
	p {
		cursor: pointer;
	}
}

.side-projects-paragraph {
	display: flex;
	align-items: center;
	cursor: pointer;
	span {
		margin-right: 10px;
	}
}

.side-projects-menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25em;
}

.expand-projects {
	rotate: -90deg;
	transition: rotate 200ms ease-in;
}
.expanded {
	rotate: 0deg;
}

.side-projects-list {
	font-size: 0.875rem;
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}
.visible {
	opacity: 1;
	height: 20px;
	transform: translateY(0);
}

.side-projects-list-item {
	margin-bottom: 1em;
	width: 20ch;
	transition: transform 300ms ease-in;
	&:hover {
		transform: scale(1.05) translate(10px, -2px);
		cursor: pointer;
	}
}

// =============
// 	Main
// =============

.main-container {
	flex: 1;
	transition: flex 0.3s ease-in;
	overflow-y: scroll;
	padding: 2em;
}

.main-container-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
	gap: 20px 40px;
}
.task-card {
	max-width: 350px;
	min-width: 265px;
	border: $accent-border-slim;
	padding: 1em 1.5em;
	& > :not(:last-child) {
		margin-bottom: 1em;
	}
	& > :first-child {
		margin-bottom: 0.5em;
	}
	& > :nth-last-child(2) {
		margin-bottom: 0.75em;
	}
}

// =============
// 	Card
// =============

.task-card-title {
	font-family: $serif-font;
	font-size: 1.25rem;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.25em;
}

.task-card-info {
	display: flex;
	justify-content: space-between;
}

.task-card-date {
	display: flex;
	justify-content: center;
	& > :first-child {
		margin-right: 0.5em;
	}
}

.task-card-priority {
	display: flex;
	justify-content: center;
	& > :first-child {
		margin-right: 0.5em;
	}
}

// =============
// 	Animations
// =============

@keyframes modalAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Add animation for the modal content */
@keyframes modalContentAnimation {
	from {
		opacity: 0;
		top: -100px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}
